<div >
    <div>
        <h4>一、填空题(共20分，每空5分)</h4>
    </div>

    <div>
        <ol>
            <% for(var m= 0; m<topics.length; m++) {%>
            <li>
                <div>
                    <label><%= topics[m].title%></label>
                    <% for(var n= 0; n<topics[m].options.length; n++){%>
                    <input type="text" name=<%=  topics[m].name%>  value=<%= topics[m].inputs[n]%>>
                    <%}%>
                </div>
            </li>
            <%}%>
        </ol>
    </div>
</div>