<header>
  <div class="container panel panel-primary">
    <div class="panel-heading text-center">
      <h3>统一建模语言</h3>
    </div>
    <br/>
    <div class="container pane-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group col-md-4">
              <label>科目：</label>
              <u>统一建模语言</u>
          </div>

          <div class="form-group col-md-4">
            <label>时间：</label>
            <u>100分钟</u>
          </div>

          <div class="form-group col-md-4">
          <label class="control-label">得分：</label>
          <label class="text-danger text-right" name="totalScore"><%= userInfo.totalscore%></label>
          </div>
        </div>

        <div class="col-md-12">

          <div class="form-group col-md-4">
            <label>班级：</label>
            <input type="text" class="form-control" name="stu_grade" value=<%= userInfo.stu_grade%>>
          </div>

          <div class="form-group col-md-4">
          <label>姓名：</label>
          <input type="text" class="form-control" name="stu_name"  value=<%= userInfo.stu_name%>>
          </div>

          <div class="form-group col-md-4">
            <label>学号：</label>
            <input type="text" class="form-control" name="stu_number"  value=<%= userInfo.stu_number%>>
          </div>

        </div>
      </div>
    </div>

  </div>

</header>
