<div >
    <div>
        <h4>四、判断题(共20分，每题10分)</h4>
    </div>

    <div>
        <ol>
            <% for(var m= 0; m<topics.length; m++) {%>
            <li>
                <div>
                    <label><%=  topics[m].title%></label>
                    <% for(var n= 0; n<topics[m].options.length; n++){%>
                    <div >
                        <input type="radio" name=<%=  topics[m].name%>>
                        <%= topics[m].options[n].describe%>
                    </div>
                    <%}%>
                </div>
            </li>

            <%}%>
        </ol>
    </div>
</div>