<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= data.alertTitle%></h4>
            </div>

            <div class="modal-body">
                <p><%= data.alertContent%>&hellip;</p>
            </div>

        </div>
    </div>
</div>
