<div >
    <div>
        <h4>五、简答题(共20分)</h4>
    </div>

    <div>
        <ol>

            <% for(var m= 0; m<shortTopics.length; m++) {%>
            <li>
                <div>
                    <label><%=  shortTopics[m].title%></label>
                    <% for(var n= 0; n<shortTopics[m].options.length; n++){%>
                    <div >
                        <textarea name="5_1" rows="8" cols="40"></textarea>
                    </div>
                    <%}%>
                </div>
            </li>

            <%}%>
        </ol>
    </div>
</div>