<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>统一建模语言</title>
</head>

<body>
<form  action="/" method="post">
    <% include partials/header.ejs %>
    <% include partials/fill-in-blanks.ejs %>
    <% include partials/single.ejs %>
    <% include partials/multiple.ejs %>
    <% include partials/judge.ejs %>
    <% include partials/short-answer.ejs %>

    <input type="submit" value="submit">
</form>
</body>

</html>
